/**************/
/* CSS REMEDY */
/**************/

/* naar een idee van Jen Simmons */
*,
*::after,
*::before {
  box-sizing: border-box;
}
@font-face {
  font-family: "Treamd";
  src: url(../fonts/Treamd.ttf);
}
@font-face {
  font-family: "Bloodcrow";
  src: url(../fonts/bloodcrow.ttf);
}
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/demon_slayer_map.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

button:not([disabled]) {
  cursor: pointer;
}

img {
  max-width: 100%;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --heading-font: Bloodcrow, sans-serif;
  --heading-color-map: white;
  --hover-button-color: gold;
  --dialog-color: rgb(50 50 50);
  --dialog-text-color: white;
  --button-text: Treamd, sans-serif;
  --dialog-font: "Times New Roman", Times, serif;
}

/********************/
/* ALGEMENE STYLING */
/********************/
@keyframes fadeIn {
  0% {
    filter: brightness(-100);
    opacity: 1;
    display: flex;
  }
  50% {
    opacity: 1;
  }
  100% {
    filter: brightness(0);
    opacity: 0;
  }
}
button {
  background: none;
  border: none;
  outline: none;
  font-family: var(--button-text);
  color: var(--dialog-text-color);
  font-size: 2em;
}
button:hover {
  color: var(--hover-button-color);
}

body > section:first-of-type {
  background-image: url(../images/titlecard.jpg);
  height: 100vh;
  width: 100vw;
  z-index: 50000;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body > section:first-of-type.hidden {
  animation: fadeIn;
  animation-duration: 8s;
  display: none;
}
body > section > h1 {
  font-family: var(--heading-font);
  color: var(--heading-color-map);
  font-size: 4em;
}
body > section > p {
  max-width: 35%;
  color: var(--heading-color-map);
  font-size: 2em;
  font-family: var(--dialog-font);
}
main > section:nth-of-type(1) {
  display: flex;
  flex-direction: row;
}
main > section:nth-of-type(1) > h2 {
  font-family: var(--heading-font);
  font-size: 3em;
  color: var(--heading-color-map);
  -webkit-text-stroke-width: 0.000000001em;
  -webkit-text-stroke-color: var(--outline-color);
  filter: drop-shadow(0.1em 0.1em 0.2em var(--shadow-color));
}
main > section:nth-of-type(1) img {
  max-height: 10em;
  max-width: 15em;
  order: -1;
}

svg {
  position: absolute;
  height: 100vh;
  aspect-ratio: 1920/1080;
  top: 0;
  left: -2em;
}
dialog {
  background-color: var(--dialog-color);
  background-image: url(../images/titlecard.jpg);
  color: var(--dialog-text-color);
  max-width: 70%;
  min-width: 70%;
  max-height: 45%;
  min-height: 41%;
}
dialog::backdrop {
  background-color: #0006;
  backdrop-filter: blur(0.2em);
}
dialog section {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  grid-template-rows: 10% 70% 20%;
}
dialog section img {
  object-fit: cover;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
dialog section h2 {
  font-size: 1.5em;
  font-family: var(--dialog-font);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
  align-self: start;
}

dialog section p {
  font-size: 2em;
  font-family: var(--dialog-font);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}
dialog section form {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: end;
}
dialog section > button {
  font-size: 2em;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: end;
}
dialog:nth-of-type(5) section p button {
  font-size: 1em;
  color: var(--dialog-text-color);
  font-family: var(--dialog-font);
}
main > img {
  position: absolute;
  width: 99.9vw;
  height: 99.5vh;
  opacity: 0.2;
  display: none;
}
main > .hinokamiKagura {
  display: block;
}

.cls-2 {
  stroke-width: 0px;
}
.cls-3 {
  font-family: var(--button-text), var(--dialog-font);
  font-size: 2em;
}

.cls-2 {
  fill: transparent;
}

/* Samen met Sanne  */
.cls-2:hover,
body:has(#text-mount-s:hover) #area-mount-s,
body:has(#text-mount-f:hover) #area-mount-f,
body:has(#text-mount-n:hover) #area-mount-n,
body:has(#text-asakusa:hover) #area-asakusa,
body:has(#text-tsuzumi-m:hover) #area-tsuzumi-m,
body:has(#text-demon-slayer-hq:hover) #area-demon-slayer-hq {
  cursor: pointer;
  fill: var(--hover-button-color);
  opacity: 10%;
}

.cls-3:hover,
body:has(#area-mount-s:hover) #text-mount-s,
body:has(#area-mount-f:hover) #text-mount-f,
body:has(#area-mount-n:hover) #text-mount-n,
body:has(#area-asakusa:hover) #text-asakusa,
body:has(#area-tsuzumi-m:hover) #text-tsuzumi-m,
body:has(#area-demon-slayer-hq:hover) #text-demon-slayer-hq {
  fill: var(--hover-button-color);
  cursor: pointer;
}
